@keyframes blink-before {
    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    60% {
        opacity: 0.6;
        transform: scale(0.8, 0.8);
    }
    40% {
        opacity: 0.4;
        transform: scale(0.6, 0.6);
    }
}

@keyframes blink-after {
    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    60% {
        opacity: 0.6;
        transform: scale(0.8, 0.8);
    }
    40% {
        opacity: 0.4;
        transform: scale(0.6, 0.6);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform:translateY(0);
        -ms-transform:translateY(0);
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    40% {
        -moz-transform:translateY(-8px);
        -ms-transform:translateY(-8px);
        -webkit-transform:translateY(-8px);
        transform:translateY(-8px);
    }
    60% {
        -moz-transform:translateY(-4px);
        -ms-transform:translateY(-4px);
        -webkit-transform:translateY(-4px);
        transform:translateY(-4px);
    }
}