.btn {
    line-height: 70px;
    height: 80px;
    text-align: center;
    width: 450px;
    cursor: pointer;
}

.btn span {
    width: 100%;
    text-align: center;
    font-size: clamp(2rem, 2.4vw, 2.2rem);
    font-weight: bold;
    transition: all 0.3s;
    -moz-animation: blink-before 2s infinite;
    -webkit-animation: blink-before 2s infinite;
    animation: blink-before 2s infinite;
}

.btn-contact {
    color: var(--secondary-color);
    transition: all 0.5s;
    position: relative;
}

.btn:hover {
    color: rgba(27, 215, 65, 1);
    transition: all 0.5s;
}

.btn-contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s;
    -moz-animation: blink-before 2s infinite;
    -webkit-animation: blink-before 2s infinite;
    animation: blink-before 2s infinite;
}

.btn-contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    border: 2px solid rgba(27, 215, 65, 1);
    transform: scale(1.2, 1.2);
    transition: all 0.3s;
    -moz-animation: blink-after 2s infinite;
    -webkit-animation: blink-after 2s infinite;
    animation: blink-after 2s infinite;
}

@media screen and (max-width: 800px) {
    .btn {
        line-height: 28px;
        height: 40px;
        text-align: center;
        width: 350px;
        cursor: pointer;
    }

    .btn span {
        width: 100%;
        text-align: center;
        font-size: clamp(1.5rem, 1.8vw, 1.7rem);
        font-weight: bold;
    }
}