@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: transparent;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);*/
    height: 550px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, var(--primary-gradient-color) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 550px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    max-height: 550px;
    max-width: 412px;
    margin-left: 10px;
}

.slider .slide img {
    height: 550px;
    width: 412px;
}

@media screen and (max-width: 800px) {
    .slider {
        height: 400px;
    }
    .slider .slide img {
        height: 350px;
        width: 212px;
    }
    .slider::before, .slider::after {
        background: linear-gradient(to right, var(--primary-gradient-color) 0%, rgba(255, 255, 255, 0) 25%);
        height: 400px;
    }
}