.section-content .video-container {
    /*margin: 25px 10px auto;*/
}

.video-container {
    position: relative;
    padding-bottom: 450px;
    max-width: 650px;
    left: 50%;
    transform: translate(-50%);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 550px;
}

.iframe-video {
    aspect-ratio: 4 / 3;
    width: 100%;
}

@media screen and (min-height: 650px) {
    .video-container {
        padding-bottom: 370px;
    }
}

@media screen and (min-height: 946px) {
    .video-container {
        padding-bottom: 480px;
    }
}

@media screen and (min-width: 740px) {

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 400px;
        height: 400px;
    }
}

@media screen and (min-height: 600px) {

}